@import './styles.scss';

.title {
    display: block;
    padding: $large;
    text-align: center;
    font-size: 48px;
    color: $theme-black;
}

.cards {
    padding: $large;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: $large;
        padding: 0;
        margin: 0;
    }
}

.form-container {
    padding: $large;
}